*body{
    box-sizing: border-box;
    display: flex;
    
}
body{
    /* border: solid 5px red; */
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    background-image:url("mclaren-600lt-5120x2880-race-track-2019-5k-17122.jpg");
    background-size: cover;
    justify-content: space-around;
}
aside{
    /* border: solid 2px blue; */
    border-radius: 20px;
    width: 40vw;
    height: 40vh;
    display: inline-block;
    background-color:rgba(255, 255, 255, 0.438);
    font-size: 3vmin;
    text-align: center;
    color: rgb(3, 3, 3);
    line-height: 6vh;
    
}

.aside_rendu{

    font-size: 4vmin;
    justify-content: center;
    font-weight: bold;
    width: 40vw;
    height: 40vh;
    vertical-align: middle;
    line-height: 8vh;
}
.style_boutton{
  background-color: rgb(45, 112, 199);
  font-weight: bold;
  width: 150px;
  height: 50px;
  margin-top: 3vh;
  border-radius: 10px;
}